.TopPage {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .LeftSide {
    height: 100vh;
    width: 500px;
    background-color: mediumvioletred;
    @include flex-box();

    &__title {
      font-family: 'Creepster', cursive;
      font-size: 90px;
    }
  }

  .RightSide {
    height: 100vh;
    width: calc(100vw - 500px);
    @include flex-box();
    flex-direction: column;
    
    &__top {
      height: 50vh;
      width: calc(100vw - 500px);
      background-color: orange;;
      @include flex-box();

      .normal {
        @include font();
      }
    }

    &__bottom {
      height: calc(100vh - 50vh);
      width: calc(100vw - 500px);
      background-color: darkorange;
      @include flex-box();

      .hard {
        @include font();
      }
    }
  }
}