.Htop-content
  .Mode
    Hard Mode
.Hindexmiddle-content
  .Try
    = link_to "/hards/new", class: "try" do
      ノーマルモードの問題が全問ランダムに提示されます！頑張ってください！
.Hbottom-content
  = link_to "/", class: "top-page-btn" do
    Top Page

