.Htop-content
  .Mode
    Hard Mode
.Hmiddle-content
  .Hproblem
    問題文がここに出る
  .choice1
    選択肢1
  .choice2
    選択肢2
  .choice3
    選択肢3
  .choice4
    選択肢4
.Hbottom-content
  = link_to "/", class: "top-page-btn" do
    Top Page